{% extends 'index_base.html' %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

{% if request.user.is_recruiter %}
<div class="container mt-4">
    <h2>Recruiter Dashboard</h2>
    <a href="{% url 'create-job-post' %}"><button class="btn btn-lg btn-success mt-3">Create Job Post</button></a>
    {% if messages %}
    <ul class="messages mt-2 text-center text-decoration-none">
        {% for message in messages %}
        <li {% if message.tags %} class="font-italic text-{{ message.tags }} " {%endif %}> {{message}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="text-center mt-2 mb-2">
        <h3>Job Posts by you</h3>
    </div>
    {% for job in jobposts %}
    <div class="card text-xs-center mt-4 p-2">
        <div class="card-header"><span class="float-left">{{job.organization}}</span>
            <span class="float-right">Posted on: {{job.posted_date}}</span>
        </div>
        <div class="card-block mt-2 mb-2">
            <h4 class="card-title ml-2">{{job.job_role}}</h4>
            <h5 class="font-weight-light ml-2">Job Description:</h5>
            <p class="card-text ml-2">
                {{job.job_description|slice:":400"}}...
            </p>
            <p class="card-text ml-2">
                {{job.job_description|slice:":400"}}...
            </p>
            <p class="font-weight-light ml-2">Job Location: {{job.location}}</p>
            <p class="font-weight-light ml-2">Salary: {{job.remuneration}}</p>
            <a href="{% url 'job_detail' job.id %}" class="btn btn-secondary ml-2">View Full Post</a>
        </div>
        <div class="card-footer text-muted">Deadline: {{job.deadline}}</div>
    </div>
    {% endfor %}
</div>

{% else %}
<h1>Job Seeker Dashboard</h1>
{% endif %} {% endblock %}