{% extends 'index_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include "navbar.html" %}

<div class="container">
    <div class="card m-5 p-5 shadow p-3 mb-5 bg-white rounded">
        <h4 class="card-header">Update Your Profile</h4>
        <div class="cardbody m-4 p-2">
            <form id="recruiter_profile_form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputdisplayname">First Name</label>
                        {{ form.first_name|attr:"class:form-control"}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputdisplayname">Last Name</label>
                        {{ form.last_name|attr:"class:form-control"}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputdisplayname">Gender</label>
                        {{form.gender|attr:"class:form-control"|attr:"type:select"|attr:"name:category"|attr:"readonly"}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputdisplayname">Company Name</label>
                        {{ form.company_name|attr:"class:form-control"}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputdisplayname">Company Address</label>
                        {{ form.company_address|attr:"class:form-control"}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputdisplayname">Company Phone Number</label>
                        {{ form.company_phone|attr:"class:form-control"}}
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="font-italic text-decoration-none text-{{ message.tags }} "
                            {%endif %}> {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <input class="btn btn-block btn-success" type="submit" />
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}