<!-- <div class="container"> it was done by tek raj , saikrishna -->

    {% if results %}
{% for job in results %}
<div class="card bg-dark border-light text-light text-xs-center mt-4 p-2">
    <div class="card-header"><span class="float-left">{{job.organization}}</span>
        <span class="float-right">Posted on: {{job.posted_date}}</span>
    </div>
    <div class="card-block mt-2 mb-2">
        <h4 class="card-title ml-2">{{job.job_role}}</h4>
                <h6 class="font-weight-light ml-2 mt-1">Job Location: {{job.location}}</h6>
                <h6 class="font-weight-light ml-2 mb-4">Salary: Rs. {{job.remuneration}}</h6>
        <h5 class="font-weight-light ml-2">Job Description:</h5>
        <p class="card-text ml-2">
            {{job.job_description|slice:":400"}}...
        </p>
        {% if request.user.is_seeker %}
        <a href="{% url 'job_details' job.id %}" class="btn btn-secondary ml-2">DETAILS</a>
        {% endif %}
    </div>
    <div class="card-footer text-muted">Deadline: {{job.deadline}}</div>
</div>

    {% endfor %}

        {% else %}


         <div class="text-center page-center" style="border: none; width: auto">

                {% if messages %}

                      {% for message in messages %}


                         <h1 style="color: red; margin-top: 30px"> {{ message }}</h1>



                      {% endfor %}

                {%  endif %}

            </div>



    {% endif %}




    </div>
