<nav class="navbar navbar-expand-lg navbar-light p-3 bg-dark">
    <a class="navbar-brand text-white ml-4 pl-4  font-weight-bold" href="{% url 'home' %}">JOB RECRUITMENT SITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="#" class="btn btn-primary mr-2">Profile</a>

        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
    </div>
</nav>
<!-- <a href="#" class="btn btn-primary">Profile</a> -->