{% extends 'index_base.html' %}
{% block content %}
{% load static %}

{% include "navbar.html" %}

{% if request.user.is_recruiter %}
<div class="text-center" style="border: none; width: auto">
    {% if messages %}
    {% for message in messages %}
    <h4 style="color: red; margin-top: 30px"> {{ message }}</h4>
    {% endfor %}
    {% endif %}
</div>
{% if job %}
<div class="container">
    <div class="card m-5 p-5 shadow p-3 mb-5 bg-white rounded">
        <div class="card-header"><span class="float-left">{{job.organization}}</span>
            <span class="float-right">Posted on: {{job.posted_date}}</span>
        </div>
        <div class="cardbody m-4 p-2">
            <div class="row">
                <div class="col-md-12 mt-1">
                    <h4 id="job_organization">{{ job.job_role }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-1">
                    <h6 id="job_location"> Location : {{ job.location }} </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-1">
                    <h6 id="job_renumeration"> Salary : Rs. {{ job.remuneration }} </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-1">
                    <h6 id="skill_required"> Required Skills &nbsp : &nbsp&nbsp
                        {{ job.skill_required_1 }} &nbsp
                        {{ job.skill_required_2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-1">
                    <h6 id="skill_required"> Desirable Skills &nbsp : &nbsp&nbsp
                        {% if job.skill_required_3 %} {{ job.skill_required_3 }} {% endif %}&nbsp&nbsp
                        {% if job.skill_required_4 %} {{ job.skill_required_4 }} {% endif %} &nbsp&nbsp
                        {% if job.skill_required_5 %} {{ job.skill_required_5 }} {% endif %}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 description_detailed">
                    <p class="lead mt-4">Job Description:</p>
                    <p> {{ job.job_description }}</p>
                </div>
            </div>
            <div class="mt-2">
                <a href="{% url 'job_detail' job.id %}" class="btn btn-warning">Applications</a>
                <a href="{% url 'update-job-post' job.id %}" class="btn btn-primary ml-2">Edit Post</a>
                <a href="{% url 'job_detail' job.id %}" class="btn btn-danger ml-2">Delete Post</a>
            </div>


        </div>
        <div class="card-footer text-muted">Deadline: {{job.deadline}}</div>

    </div>

    {% endif %}
</div>
{% endif %}
{% endblock content %}